.App {
  text-align: center;
}

.bb-logo{
  width: 100%;
  height: 100%;
}

.bb-homepage{
  width: 100%;
  height: 100%;
}

.bb-header {
  background-color: #ebf0d3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}