@font-face {
    font-family: 'AsianMainFont';
    src: url(./style/Stickrice-8jez.ttf) format('truetype');
    
}
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400&display=swap');

@keyframes bouncy {
    0% {top: 0em}
    4% {top: 0em}
    7% {top: -0.5em}
    9% {top: 0em}
    46% {top: 0em}
    48% {top: -0.3em}
    50% {top: 0em}
    100% {top: 0em;}
}

html {
    scroll-behavior: smooth;
    word-wrap: break-word;
    overflow-y: scroll;
}

html::-webkit-scrollbar {
    width: .25vw;
}

html::-webkit-scrollbar-track {
    background-color: #010101;
}

html::-webkit-scrollbar-thumb {
    background-color: #ffb703;
}

html,
body {
    height: 100%;
    background-color: black;
    font-family: 'Arvo', sans-serif;
    font-size: 12pt;
}
a:link {
    text-decoration: none;
    color: #010101;
  }
  
a:visited {
    text-decoration: none;
    color: #010101;
}

.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    min-width: 100%;
}

.instagram-media {
    display: unset !important;
}

.bb-header-logo {
    background-image: url("./images/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: content-box;
    color: rgb(0, 0, 0, 0);
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.bb-nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    white-space: nowrap;
    word-wrap: normal;
}

.bb-nav-link {
    cursor: pointer;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: .25vh;
    padding-bottom: .25vh;
    min-width: calc(100% / 6)
}

.bb-page {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.bouncy {
    animation: bouncy 7s linear;
    position: relative;
    visibility: visible;
}

.bb-header {
    background-color: #ffb703;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 22vh;
    font-size: 32px;
    color: rgb(0, 0, 0);
    font-family: AsianMainFont;
}

.bb-main-menu {
    display: none;
}

.App-link {
    color: #61dafb;
}

.bb-homepage-layout {
    display: flex;
    flex-direction: column;
}

.bb-homepage-mainimage {
    background-image: url("./images/food-4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(0, 0, 0, 0);
    min-width: 100%;
    min-height: 78vh;
}

.bb-homepage-content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.bb-social-media-links {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.bb-spacer {
    min-height: 20px;
}

.bb-footer {
    margin-top: auto;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-color: black;
    color: white;
    z-index: 100;
    height: fit-content;
    min-height: 20vh;
    font-size: 11pt;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: 50;
}

.bb-footer a:link {
    text-decoration: none;
    color: #fff;
}

.bb-footer-address {
    align-self: flex-end;
}
  
.bb-footer a:visited {
    text-decoration: none;
    color: #fff;
}

.bb-align-bottom {
    margin-top: auto;
}

.bb-footer-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 20px;
    height: 100%;
    flex: 2;
    gap: 20px;
}

.bb-suppliers {
    margin: auto;
    width: 80vw;
}

.bb-social-icon {
    width: 24px;
    height: 24px;
}

.bb-text-header {
    font-weight: bold;
    font-size: 13pt;
}

.bb-open-days {
    font-style: italic;
}


.bb-open-extraInfo {
    font-size: 11pt;
}

.bb-body {
    overflow: auto;
}

.bb-patterned-background {
    background-image: url("./images/bb-pattern.jpeg");
    background-repeat: repeat;
    }

#bb-header-logo-pos {
    display: flex;
    width: 100%;
    margin: auto;
    padding-bottom: 1vh;
}

.bb-header-logo {
    width: 100%;
    height: 4em;
}

.bb-nav-links {
    margin: auto;
}

#rd-widget-frame {
  max-width: 600px;
  margin: auto;  
}

.bb-map-container {
    display: flex;
    flex-grow: 2;
}

.bb-map {
    min-height: 50vh;
    flex-grow: 2;
}

.bb-map iframe{
    height: 100%;
    width: 80%;
    border:0;
}

.gallery ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    align-items: center;
    justify-content: center;
    padding-inline-start: 0;
}
.menu{
    display: flex;
    flex-flow: column;
    align-items: center;
    min-width: fit-content;
    
}
.menu table{
    width: 100%;
}

.menu ul {
    list-style: none;
    justify-content: left;
    padding-inline-start: 2em;
    padding-inline-end: 2em;
}
.menu td {
text-align: left;
padding-top: .5em;
}

.MenuSection{
    margin-bottom: 2em;
}
.MenuSection i{
    font-weight: normal;
}
.price{
    text-align: right !important;
}
.bb-about-us-words {
    margin: auto;
    width: 50vw;
}
.time-list-container{
    position: relative !important;
}
@media (max-width: 45em) {

    .bb-header {
        flex-direction: row;
        min-height: 15vh;
    }

    .bb-about-us-words {
        margin: auto;
        width: 80vw;
        max-width: 80vw;
    }
    
    .bb-homepage-mainimage {
        min-height: 85vh;
    }

    .bb-nav-links {
        display: none;
    }

    .bb-nav-links.open {
        background-color: #ffb703;
        display: block;
        position: absolute;
        top: 12vh;
        right: 0;
        width: 100%;
        height: fit-content;
        z-index: 100;
    }

    .bb-nav-link {
        padding: 1vh;
    }

    #bb-header-logo-pos {
        height: fit-content;
        padding-top: 2vw;
        padding-bottom: 2vw;
        width: 75vw;
        display: flex;
    }

    .bb-header-logo {
        width: 90%;
        height: 90%;
        min-height: 12vh;
        margin: auto auto;
    }

    .bouncy {
        display: none;
    }

    .bb-main-menu {
        min-width: 18vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
    }

    #bb-main-menu-burger {
        text-align: center;
        width: 42px;
        height: 42px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
    }

    #bb-main-menu-burger span {
        display: block;
        position: absolute;
        height: 8px;
        width: 100%;
        background: #010101;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

    #bb-main-menu-burger span:nth-child(1) {
        top: 0px;
    }

    #bb-main-menu-burger span:nth-child(2),
    #bb-main-menu-burger span:nth-child(3) {
        top: 16px;
    }

    #bb-main-menu-burger span:nth-child(4) {
        top: 32px;
    }

    #bb-main-menu-burger.open span:nth-child(1) {
        top: 16px;
        width: 0%;
        left: 50%;
    }

    #bb-main-menu-burger.open span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    #bb-main-menu-burger.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    #bb-main-menu-burger.open span:nth-child(4) {
        top: 16px;
        width: 0%;
        left: 50%;
    }


}

.ripple {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}

.ripple:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .5s, opacity 1s;
}

.ripple:active:after {
    transform: scale(0, 0);
    opacity: .3;
    transition: 0s;
}